<div class="col">
    <div class="row">
        <div class="col mb-2">
            <team-edit *ngIf="isAdd"></team-edit>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-block">
                <div class="row">
                    <div class="col-11 text-left">
                        <p class="text-uppercase">Teams <span class="badge badge-pill badge-default"> 14</span></p>
                    </div>
                    <div class="col-1 text-right">
                        <button type="button" class="btn btn-success font-weight-bold pull-md-right" routerLink="/settings/teams/add" routerLinkActive="active" aria-pressed="true"><i
                                class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
                <br>
                <teams-table></teams-table>
            </div>
        </div>
    </div>
</div>
