<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <team-edit *ngIf="isAdd"></team-edit>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-block">
                <div class="row">
                    <div class="col-md-1 pull-md-left">
                        <p class="text-uppercase">Teams <span class="ag tag-pill tag-default"> 14</span></p>
                    </div>
                    <div class="col-md-1 pull-md-right">
                        <button type="button" class="btn btn-success font-weight-bold pull-md-right" routerLink="/settings/teams/add" routerLinkActive="active" aria-pressed="true"><i
                                class="fa fa-plus"></i>Add
                        </button>
                    </div>
                </div>
                <br>
                <teams-table></teams-table>
            </div>
        </div>
    </div>
</div>
