<div class="input-group">
    <span class="input-group-btn">
                    <button type="button" class="btn btn-default show_input_button Form-passwordButton" (click)="toggleShowType()" id="credential_ssh_password_show_input_button" aw-tool-tip="Toggle the display of plaintext." aw-tip-placement="top" tabindex="-1" ng-click="ssh_password_field.toggleInput(&quot;#credential_ssh_password&quot;)" ng-disabled="ssh_password_ask" data-original-title="" title="">{{ showMessage }}</button>
                </span>
    <input id="credential_ssh_password_input" [type]="inputType" [(ngModel)]="passwordText" (input)="onTextChange()" name="ssh_password" class="form-control Form-textInput ng-pristine ng-valid ng-valid-api-error ng-touched"
        ng-disabled="ssh_password_ask" autocomplete="false">
</div>