<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <table class="table custom-table" role="grid">
                <thead>
                <tr role="row">
                    <th *ngFor="let column of columns" [ngTableSorting]="config" [column]="column"
                        (sortChanged)="onChangeTable($event)"
                        [ngClass]="{'col-md-3 text-nowrap': column.type !== 'actions', 'col-md-1 text-nowrap pull-md-right': column.type === 'actions'}">
                        {{column.title}}
                        <i *ngIf="config" class="sort fa"
                           [ngClass]="{'fa-sort-desc': column.sort === 'desc', 'fa-sort-asc': column.sort === 'asc',
            'fa-sort': column.sort === ''}">
                        </i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of rows">
                    <td *ngFor="let column of columns"
                        [ngClass]="{'col-md-3 text-nowrap': column.type !== 'actions', 'col-md-1 text-nowrap pull-md-right': column.type === 'actions'}">

                        <span *ngIf="column.type === 'text'">{{getData(row, column.name)}}</span>
                        <a class="card-link" href="javascript:;" (click)="usernameClick()"
                           *ngIf="column.type === 'link'">{{getData(row, column.name)}}</a>
                        <div *ngIf="column.type === 'actions'" class="text-nowrap" role="group" aria-label="actions">
                            <a class="btn btn-outline-info" href="javascript:;" (click)="permissionDelete()"><i
                                    class="fa fa-times"></i></a>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
            <!-- <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page"
                        [totalItems]="length"
                        [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize"
                        [boundaryLinks]="true"
                        [rotate]="false"
                        (pageChanged)="onChangeTable(config, $event)"
                        (numPages)="numPages = $event">
            </pagination> -->

        </div>
    </div>
</div>