<div class="card card-block">
  <div class="row">
    <div class="col-11 text-left">
      <p class="text-uppercase font-weight-bold">New Credentials</p>
    </div>
    <div class="col-1 text-right">
      <a type="btn" class="close" routerLink="/settings/credentials" aria-label="Close">
        <i class="fa fa-times-circle"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-tabset type="pills">
        <ngb-tab title="Details">
          <template ngbTabContent>
            <div class="row">
              <div class="col">
                <br>
                <form #userAddForm="ngForm">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group" [class.has-danger]="name.invalid && name.dirty">
                        <label for="name">*Name</label>
                        <input type="text" required class="form-control" name="name" id="name" aria-describedby="Name" 
                          placeholder="Name" [(ngModel)]="credentials.name" #name="ngModel" (ngModelChange)="validateForm()">
                          <div *ngIf="name.invalid && name.dirty" class="form-control-feedback">Please enter a value</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="descriptions">Description</label>
                        <input type="text" class="form-control" name="description" id="descriptions" aria-describedby="description" placeholder="Description"
                          [(ngModel)]="credentials.description">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group" [class.has-danger]="organization.dirty && hasOrganizationError">
                        <label for="organization">Organization</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <template #rt let-r="result" let-t="term">{{r.name}}
                          </template>
                          <input type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" #organization="ngModel" name="organization" [resultTemplate]="rt"
                            [inputFormatter]="formatter" (blur)="validateOrganization()" (keyup.enter)="validateOrganization()">
                        </div>
                            <div *ngIf="organization.dirty && hasOrganizationError" class="form-control-feedback">Please select a valid Organization</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group" [class.has-danger]="hasTypeError">
                        <label for="organization">Type</label>
                        <div class="input-group">
                          <select class="form-control" id="selectType" #selectType name="selectType" 
                            [(ngModel)]="selectedType" 
                            (change)="onTypeChange(selectType.value)"
                            (blur)="onTypeChange(selectType.value)">
                            <option value="default">Choose a type</option>
                            <option value="machine">Machine</option>
                            <option value="network">Network</option>
                            <option value="source_control">Source Control</option>
                            <option value="aws">Amozon Web Service</option>
                            <!--<option value="rackspace">Rackspace</option>
                            <option value="vmware_vcenter">VMware vCenter</option>
                            <option value="gce">Google Compute Engine</option>
                            <option value="arm">Microsoft Azure Resource Mananger</option>
                            <option value="openstack">OpenStack</option>-->
                          </select>
                        </div>
                        <div *ngIf="hasTypeError" class="form-control-feedback">Please select a valid type</div>
                      </div>
                    </div>
                  </div>

                  <machine-credentials *ngIf="selectedType == 'machine'" (machineCredential)=onNotify($event)></machine-credentials>
                  <network *ngIf="selectedType == 'network'"></network>
                  <source-control *ngIf="selectedType == 'source_control'"></source-control>
                  <aws *ngIf="selectedType == 'aws'"></aws>

                  <div class="row">
                    <div class="col text-right">
                      <a class="btn btn-warning" routerLink="/settings/credentials" aria-label="Close">
                        Cancel
                      </a>
                      <button type="submit" class="btn btn-success" [disabled]="!validForm" (click)="addCredentials()">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </template>
        </ngb-tab>
        <ngb-tab title="Permissions" [disabled]="true">
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>