<div class="card card-block">
  <div class="row">
    <div class="col-11 text-left">
      <p class="text-uppercase font-weight-bold">New Credentials</p>
    </div>
    <div class="col-1 text-right">
      <a type="btn" class="close" routerLink="/settings/credentials" aria-label="Close">
        <i class="fa fa-times-circle"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-tabset type="pills">
        <ngb-tab title="Details">
          <template ngbTabContent>
            <div class="row">
              <div class="col">
                <br>
                <form [formGroup]="credentialForm">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="name">*Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="Name"
                               placeholder="Name" formControlName="name">
                        <div class="form-control-feedback">Please enter a value</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="descriptions">Description</label>
                        <input type="text" class="form-control" name="description" id="descriptions"
                               aria-describedby="description" placeholder="Description"
                               formControlName="description">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="organization">Organization</label>
                        <!--  <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-search"></i></span>
                         <template #rt let-r="result" let-t="term">{{r.name}}
                          </template>
                          <input type="text" class="form-control"  [ngbTypeahead]="search" #organization="ngModel" name="organization" [resultTemplate]="rt"
                            [inputFormatter]="formatter" (blur)="validateOrganization()" (keyup.enter)="validateOrganization()">
                        </div>
                            <div *ngIf="organization.dirty && hasOrganizationError" class="form-control-feedback">Please select a valid Organization</div> -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="organization">Type</label>
                        <div class="input-group">
                          <select class="form-control" id="selectType" name="selectType"
                                  formControlName="kind">
                            <option value="">Choose a type</option>
                            <option value="machine">Machine</option>
                            <option value="network">Network</option>
                            <option value="source_control">Source Control</option>
                            <option value="aws">Amozon Web Service</option>
                            <!--<option value="rackspace">Rackspace</option>
                            <option value="vmware_vcenter">VMware vCenter</option>
                            <option value="gce">Google Compute Engine</option>
                            <option value="arm">Microsoft Azure Resource Mananger</option>
                            <option value="openstack">OpenStack</option>-->
                          </select>
                        </div>
                        <div *ngIf="hasTypeError" class="form-control-feedback">Please select a valid type</div>
                      </div>
                    </div>
                  </div>

                  <div class="col" *ngIf="credentialForm.get('kind').value == 'machine'">
                    <div class="row">
                      <div class="col-11 text-left">
                        <p class="text-uppercase font-weight-bold">Type Details</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" formControlName="username" class="form-control" id="username" aria-describedby="Name"
                                 placeholder="Username">
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group Form-formGroup" ng-show="credentialForm.get('kind').value == 'ssh'">
                          <label class="Form-inputLabelContainer " for="ssh_password">
                            <span class="Form-inputLabel">Password</span>
                          </label>
                          <input-password (password)=onPasswordNotify($event)></input-password>
                          <label class="checkbox-inline Form-subCheckbox"><input type="checkbox" id="password_ask_chbox"
                                                                                 class="ng-pristine ng-untouched ng-valid">Ask
                            at runtime?</label>
                          <div class="error api-error ng-binding" id="credential-ssh_password-api-error"
                               ng-bind="ssh_password_api_error"></div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
                          <label class="Form-inputLabelContainer " for="ssh_password">
                            <span class="Form-inputLabel">Private Key Passphrase</span>
                          </label>
                          <input-password (password)=onPassphaseNotify($event)></input-password>
                          <label class="checkbox-inline Form-subCheckbox"><input type="checkbox"
                                                                                 id="private_key_ask_chbox"
                                                                                 class="ng-pristine ng-untouched ng-valid">Ask
                            at runtime?</label>
                          <div class="error api-error ng-binding" id="credential-ssh_password-api-error"
                               ng-bind="ssh_password_api_error"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="organization">Privilege Escalation</label>
                          <div class="input-group">
                            <select class="form-control" id="selectPrivilege" name="selectPrivilege"
                                    [(ngModel)]="selectedPrivilege" (ngModelChange)="onChange($event)">
                              <option value="none">Choose a privilege escalation</option>
                              <option value="none">None</option>
                              <option value="sudo">Sudo</option>
                              <option value="su">su</option>
                              <option value="pbrun">PbRun</option>
                              <option value="pfexec">Pfexec</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
                          <label class="Form-inputLabelContainer " for="ssh_password">
                            <span class="Form-inputLabel">Vault Password</span>
                          </label>
                          <input-password (password)=onVaultPasswordNotify($event)></input-password>
                          <label class="checkbox-inline Form-subCheckbox"><input type="checkbox"
                                                                                 id="vault_password_ask_chbox"
                                                                                 class="ng-pristine ng-untouched ng-valid">Ask
                            at runtime?</label>
                          <div class="error api-error ng-binding" id="credential-ssh_password-api-error"
                               ng-bind="ssh_password_api_error"></div>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="selectedPrivilege!='none'">
                        <div class="form-group">
                          <label for="name">Privilege Escalation Username</label>
                          <input type="text" class="form-control" id="name" aria-describedby="Name"
                                 placeholder="Privilege Escalation Username">
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="selectedPrivilege!='none'">
                      <div class="col-4">
                        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
                          <label class="Form-inputLabelContainer " for="ssh_password">
                            <span class="Form-inputLabel">Privilege Escalation Password</span>
                          </label>
                          <input-password (password)=onVaultPasswordNotify($event)></input-password>
                          <label class="checkbox-inline Form-subCheckbox"><input type="checkbox"
                                                                                 id="credential_ssh_password_ask_chbox"
                                                                                 class="ng-pristine ng-untouched ng-valid">Ask
                            at runtime?</label>
                          <div class="error api-error ng-binding" id="credential-ssh_password-api-error"
                               ng-bind="ssh_password_api_error"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="extra_variables">Private Key</label>
                          <textarea type="textarea" rows="5" class="form-control" id="extra_variables"
                                    aria-describedby="Extra Variables" (input)="onTextChange()"
                                    [(ngModel)]="credentialsType.ssh_key_data"></textarea>
                          <input type="checkbox" name="extra_variables_on_prompt" value="extra_variables_on_prompt">
                          Prompt on launch
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  <network *ngIf="selectedType == 'network'"></network>
                   <source-control *ngIf="selectedType == 'source_control'"></source-control>
                   <aws *ngIf="selectedType == 'aws'"></aws>-->

                  <div class="row">
                    <div class="col text-right">
                      <a class="btn btn-warning" routerLink="/settings/credentials" aria-label="Close">
                        Cancel
                      </a>
                      <button type="submit" class="btn btn-success" [disabled]="!validForm" (click)="addCredentials()">
                        Save
                      </button>
                    </div>
                  </div>
                  <p>Form value: {{ credentialForm.value | json }}</p>
                </form>
              </div>
            </div>
          </template>
        </ngb-tab>
        <ngb-tab title="Permissions" [disabled]="true">
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
