<div class="row">
    <div class="col-11 text-left">
        <p class="text-uppercase font-weight-bold">Type Details</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="Name"
                placeholder="Username">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Password</span>
	        </label>
            <input-password (password)=onPasswordNotify($event)></input-password>
            <label class="checkbox-inline Form-subCheckbox"><input type="checkbox" id="password_ask_chbox" class="ng-pristine ng-untouched ng-valid">Ask at runtime?</label>
            <div class="error api-error ng-binding" id="credential-ssh_password-api-error" ng-bind="ssh_password_api_error"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label class="checkbox-inline Form-subCheckbox"><input type="checkbox" id="password_ask_chbox" class="ng-pristine ng-untouched ng-valid">Authorize</label>
        </div>
    </div>
</div>