<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" [routerLink]="['/dashboard']" routerLinkActive="active">
  <img src="/assets/img/logo.png" height="50" alt="">
</a>
<div class="collapse navbar-collapse" id="exCollapsingNavbar2">
  <ul class="nav navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/inventories']" routerLinkActive="active">Inventories</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" (click)="navbar.dropdown=!navbar.dropdown" id="navbarJobTemplatesLink" [attr.aria-expanded]="jtdropdown" aria-controlls="job_templates">Job Templates</a>
      <div id = "job_templates" [ngbCollapse]="!navbar.dropdown" class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/ansible_job_templates']" routerLinkActive="active">Ansible Job Templates</a>
        <a class="dropdown-item" [routerLink]="['/terraform_job_templates']" routerLinkActive="active">Terraform Job Templates</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" (click)="navbar.jobDropdown=!navbar.jobDropdown" [attr.aria-expanded]="jdropdown" aria-controlls="jobs">Jobs</a>
      <div id = "jobs" [ngbCollapse]="!navbar.jobDropdown" class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/ansible_jobs']" routerLinkActive="active">Ansible Jobs</a>
        <a class="dropdown-item" [routerLink]="['/terraform_jobs']" routerLinkActive="active">Terraform Jobs</a>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav  mr-sm-2 my-2 my-lg-0">
    <li class="nav-item">
      <a href="javascript:;" class="nav-link">
        <i class="fa fa-user fa-1x"></i> Gamunu Balagalla
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active"><i class="fa fa-gear fa-1x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;"><i class="fa fa-server fa-1x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;"><i class="fa fa-book fa-1x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;" (click)="logout()"><i class="fa fa-power-off fa-1x"></i></a>
    </li>
  </ul>
</div>
