<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" [routerLink]="['/dashboard']" routerLinkActive="active">
  <img src="/assets/img/logo.png" height="50" alt="">
</a>
<div class="collapse navbar-collapse" id="exCollapsingNavbar2">
  <ul class="nav navbar-nav mr-auto mt-2 mt-md-0">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/inventories']" routerLinkActive="active">Inventories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/job_templates']" routerLinkActive="active">Job Templates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/jobs']" routerLinkActive="active">Jobs</a>
    </li>
  </ul>
  <ul class="nav navbar-nav  mr-sm-2 my-2 my-lg-0">
    <li class="nav-item">
      <a href="javascript:;" class="nav-link">
        <i class="fa fa-user fa-1x"></i> Gamunu Balagalla
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active"><i class="fa fa-gear fa-1x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;"><i class="fa fa-server fa-1x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;"><i class="fa fa-book fa-1x"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;" (click)="logout()"><i class="fa fa-power-off fa-1x"></i></a>
    </li>
  </ul>
</div>
