<div class="row">
    <div class="col-11 text-left">
        <p class="text-uppercase font-weight-bold">Type Details</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="credential.username" (input)="onTextChange()" class="form-control" id="username" aria-describedby="Name"
                   placeholder="Username">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Password</span>
	        </label>
            <input-password (password)=onPasswordNotify($event)></input-password>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Private Key Passphrase</span>
	        </label>
            <input-password (password)=onPassphaseNotify($event)></input-password>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="extra_variables">SCM Private Key</label>
            <textarea type="textarea" rows="5" class="form-control" id="extra_variables" aria-describedby="Extra Variables" (input)="onTextChange()" [(ngModel)]="credential.ssh_key_data"></textarea>
        </div>
    </div>
</div>
