<div class="container-fluid">
    <div class="col-12">
        <div class="row">
            <div class="login-page">
                <div class="card card-block">
                    <div class="text-center">
                    <img class="img-fluid" src="assets/img/logo.png" width="210px" />
                    </div>
                    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" class="form-control input-lg" placeholder="Email"
                                required>
                            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control input-lg" placeholder="Password"
                                required>
                            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!f.form.valid">
                            Sign in
                        </button>
                    </form>
                </div>
                <simple-notifications [options]="options"></simple-notifications>
            </div>
        </div>
    </div>
</div>