<div class="row">
    <div class="col">
        <div class="card card-block">
            <div class="row">
                <div class="col">
                    <ngb-tabset type="pills">
                        <ngb-tab title="Jobs">
                            <ng-template ngbTabContent>
                                <div class="mt-2">
                                    <jobs-table></jobs-table>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Schedules">
                            <ng-template ngbTabContent>
                                <div class="mt-2">
                                    Shedules
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
