<div class="col">
  <div class="row">
    <div class="col mb-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-block">
        <div class="row">
          <div class="col-11 text-left">
            <p class="text-uppercase">Credentials <span class="badge badge-pill badge-default"> 14</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="input-group input-group-search">
              <input placeholder="Search" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)"
                     type="text" class="form-control"/>
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
          </div>
          <div class="col-6 text-right">
            <button type="button" class="btn btn-success text-uppercase"
                    routerLink="/settings/credentials/add" routerLinkActive="active" aria-pressed="true">+ Add
            </button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <table class="table custom-table" role="grid">
              <thead>
              <tr role="row">
                <th *ngFor="let column of columns" [ngTableSorting]="config" [column]="column"
                    (sortChanged)="onChangeTable($event)"
                    class="col text-nowrap">
                  {{column.title}}
                  <i *ngIf="config" class="sort fa" [ngClass]="{'fa-sort-desc': column.sort === 'desc', 'fa-sort-asc': column.sort === 'asc',
            'fa-sort': column.sort === ''}">
                  </i>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of rows">
                <td *ngFor="let column of columns"
                    class="col text-nowrap">

                  <span *ngIf="column.text">{{getData(row, column.name)}}</span>
                  <a class="card-link" [routerLink]="getUrl(row)" *ngIf="column.link" routerLinkActive="active">{{getData(row,
                    column.name)}}</a>
                  <div *ngIf="column.actions" class="action-button-group" role="group" aria-label="actions">
                    <a class="btn btn-outline-primary" [routerLink]="getUrl(row)" routerLinkActive="active"><i
                      class="fa fa-pencil"></i></a> &nbsp;
                    <button class="btn btn-outline-danger"
                            [swal]="{ title:'Delete?', text: 'This cannot be undone.', type: 'warning', showCancelButton: true}"
                            (confirm)="onDelete(row)"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <ngb-pagination [collectionSize]="length" [(page)]="page" [maxSize]="5" [rotate]="true"
                            (pageChange)="onChangeTable(config, $event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
