<div class="col">
    <div class="row">
        <div class="col mb-2">
            <credentials-add *ngIf="isAdd"></credentials-add>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-block">
                <div class="row">
                    <div class="col-11 text-left">
                        <p class="text-uppercase">Credentials <span class="badge badge-pill badge-default"> 14</span></p>
                    </div>
                    <div class="col-1 text-right">
                        <button type="button" class="btn btn-success text-uppercase font-weight-bold pull-md-right" 
                        routerLink="/settings/credentials/add" routerLinkActive="active" aria-pressed="true">
                        <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
                <br>
                <credentials-table></credentials-table>
            </div>
        </div>
    </div>
</div>
