<div class="row">
    <div class="col-11 text-left">
        <p class="text-uppercase font-weight-bold">Type Details</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="username">Access Key</label>
            <input type="text" [(ngModel)]="credentialsType.username" (input)="onTextChange()" class="form-control" id="username" aria-describedby="Name"
                placeholder="Access Key">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Secret Key</span>
	        </label>
            <input-password (password)=onPasswordNotify($event)></input-password>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">STS TOKEN</span>
	        </label>
            <input-password (password)=onSTSTokenNotify($event)></input-password>
        </div>
    </div>
</div>