<div class="row">
    <div class="col-11 text-left">
        <p class="text-uppercase font-weight-bold">Type Details</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="credentialsType.username" (input)="onTextChange()" class="form-control" id="username" aria-describedby="Name"
                placeholder="Username">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Password</span>
	        </label>
            <input-password (password)=onPasswordNotify($event)></input-password>
            <label class="checkbox-inline Form-subCheckbox"><input type="checkbox" id="password_ask_chbox" class="ng-pristine ng-untouched ng-valid">Ask at runtime?</label>
            <div class="error api-error ng-binding" id="credential-ssh_password-api-error" ng-bind="ssh_password_api_error"></div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Private Key Passphrase</span>
	        </label>
            <input-password (password)=onPassphaseNotify($event)></input-password>
            <label class="checkbox-inline Form-subCheckbox"><input type="checkbox" id="private_key_ask_chbox" class="ng-pristine ng-untouched ng-valid">Ask at runtime?</label>
            <div class="error api-error ng-binding" id="credential-ssh_password-api-error" ng-bind="ssh_password_api_error"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="organization">Privilege Escalation</label>
            <div class="input-group">
                <select class="form-control" id="selectPrivilege" name="selectPrivilege" [(ngModel)]="selectedPrivilege" (ngModelChange)="onChange($event)">
                    <option value="none">Choose a privilege escalation</option>
                    <option value="none">None</option>
                    <option value="sudo">Sudo</option>
                    <option value="su">su</option>
                    <option value="pbrun">PbRun</option>
                    <option value="pfexec">Pfexec</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Vault Password</span>
	        </label>
            <input-password (password)=onVaultPasswordNotify($event)></input-password>
            <label class="checkbox-inline Form-subCheckbox"><input type="checkbox" id="vault_password_ask_chbox" class="ng-pristine ng-untouched ng-valid">Ask at runtime?</label>
            <div class="error api-error ng-binding" id="credential-ssh_password-api-error" ng-bind="ssh_password_api_error"></div>
        </div>
    </div>
    <div class="col-4" *ngIf="selectedPrivilege!='none'">
        <div class="form-group">
            <label for="name">Privilege Escalation Username</label>
            <input type="text" class="form-control" id="name" aria-describedby="Name" placeholder="Privilege Escalation Username">
        </div>
    </div>
</div>
<div class="row" *ngIf="selectedPrivilege!='none'">
    <div class="col-4">
        <div class="form-group Form-formGroup" ng-show="kind.value == &quot;ssh&quot;">
            <label class="Form-inputLabelContainer " for="ssh_password">
		        <span class="Form-inputLabel">Privilege Escalation Password</span>
	        </label>
            <input-password (password)=onVaultPasswordNotify($event)></input-password>
            <label class="checkbox-inline Form-subCheckbox"><input type="checkbox" id="credential_ssh_password_ask_chbox" class="ng-pristine ng-untouched ng-valid">Ask at runtime?</label>
            <div class="error api-error ng-binding" id="credential-ssh_password-api-error" ng-bind="ssh_password_api_error"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="extra_variables">Private Key</label>
            <textarea type="textarea" rows="5" class="form-control" id="extra_variables" aria-describedby="Extra Variables" (input)="onTextChange()" [(ngModel)]="credentialsType.ssh_key_data"></textarea>
            <input type="checkbox" name="extra_variables_on_prompt" value="extra_variables_on_prompt"> Prompt on launch
        </div>
    </div>
</div>