<div class="card card-block">
  <div class="row">
    <div class="col-11 text-left">
      <p>Team</p>
    </div>
    <div class="col-1 text-right">
      <a type="btn" class="close" routerLink="/settings/teams" aria-label="Close">
        <i class="fa fa-times-circle"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-tabset type="pills">
        <ngb-tab title="Details">

          <ng-template ngbTabContent>
            <div class="row">
              <div class="col">
                <br>
                <form>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="Name" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" aria-describedby="Description" placeholder="Description">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="organization">Organization</label>
                        <input type="text" class="form-control" id="organization" aria-describedby="Organization" placeholder="Organization">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <button type="submit" class="btn btn-warning">Cancel</button>
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Users">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col">
                <team-users></team-users>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Granted Permissions">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col">
                <br>
                <team-permissions></team-permissions>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
