<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/settings/organizations" routerLinkActive="active" class="setting-item col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">Organizations</h6>
                    <p class="card-text">Group all of your content to manage permissions across departments in your
                        company.</p>
                </div>
            </a>
            <a routerLink="/settings/users" routerLinkActive="active" class="setting-item col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">Users</h6>
                    <p class="card-text">Allow others to sing into Tower and own the content they create.</p>
                </div>
            </a>
            <a routerLink="/settings/teams" routerLinkActive="active" class="setting-item col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">Teams</h6>
                    <p class="card-text">Split up your organization to associate content and control permissions for
                        groups.</p>
                </div>
            </a>
            <a routerLink="/settings/credentials" routerLinkActive="active" class="setting-item col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">Credentials</h6>
                    <p class="card-text">Add passwords, SSH keys etc. for Tower to use when launching jobs against
                        machines,
                        or when syncing inventories or projects</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">Management Jobs</h6>
                    <p class="card-text">Manage the cleanup of old job history, activity streams, data marked for
                        deletion,
                        and system tracking info.</p>
                </div>
            </a>
            <a class="col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">Inventory Scripts</h6>
                    <p class="card-text">Create and edit scripts to dynamically load hosts from any source.</p>
                </div>
            </a>
            <a class="col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">Notifications</h6>
                    <p class="card-text">Create templates for sending notifications with Email, HipChat, Slack.</p>
                </div>
            </a>
            <a class="col-md-3">
                <div class="card card-block text-md-center card-block-fixed-height">
                    <h6 class="text-uppercase font-weight-bold">About Tensor</h6>
                    <p class="card-text">View information about this version of Tensor</p>
                </div>
            </a>
        </div>
    </div>
</div>
