<div class="row">
  <div class="col">
    <div class="input-group input-group-search">
      <div class="input-group-addon">
        <select class="custom-select search-selector">
          <option selected value="name">Name</option>
          <option value="description">Description</option>
          <option value="organization">Organization</option>
        </select>
      </div>
      <input placeholder="Search"
             [ngTableFiltering]="config.filtering"
             (tableChanged)="onChangeTable(config)" type="text" class="form-control"/>
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table custom-table" role="grid">
      <thead>
      <tr role="row">
        <th *ngFor="let column of columns" [ngTableSorting]="config" [column]="column"
            (sortChanged)="onChangeTable($event)"
            [ngClass]="{'col-1 text-nowrap text-right':column.actions, 'col': !column.actions}">
          {{column.title}}
          <i *ngIf="config" class="sort fa"
             [ngClass]="{'fa-sort-desc': column.sort === 'desc', 'fa-sort-asc': column.sort === 'asc',
            'fa-sort': column.sort === ''}">
          </i>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let column of columns"
            [ngClass]="{'col text-nowrap': !column.actions, 'col-1 text-nowrap text-right': column.actions}">
          <span *ngIf="column.text">{{getData(row, column.name)}}</span>
          <a class="card-link" href="javascript:;" (click)="usernameClick()" *ngIf="column.link">{{getData(row,
            column.name)}}</a>
          <div *ngIf="column.actions" class="action-button-group" role="group" aria-label="actions">
            <a class="btn btn-outline-info" href="javascript:;" (click)="userEditClick()"><i
              class="fa fa-pencil"></i></a> &nbsp;
              <button class="btn btn-outline-danger" [swal]="{ titleText:'Delete?', text: 'This cannot be undone.', type: 'warning', showCancelButton: true}" (confirm)="userDeleteClick(row)"><i class="fa fa-trash"></i></button>
                  
          </div>

        </td>
      </tr>
      </tbody>
    </table>

    <!-- <pagination *ngIf="config.paging"
                class="pagination-sm"
                [(ngModel)]="page"
                [totalItems]="length"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)"
                (numPages)="numPages = $event">
    </pagination> -->

  </div>
</div>
