<p></p>
<div class="row">
    <div class="col-md-2 pull-md-left">
      <p class="text-uppercase font-weight-bold">Source Details</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="description">SCM URL</label>
            <input type="text" class="form-control" id="scm_url" aria-describedby="SCM URL" placeholder="SCM URL">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="description">Revision #</label>
            <input type="text" class="form-control" id="revision_no" aria-describedby="Revision #" placeholder="Revision #">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="description">SCM Credential</label>
            <input type="text" class="form-control" id="scm_credential" aria-describedby="SCM Credential" placeholder="SCM Credential">
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-2 pull-md-left">
      <p class="text-uppercase font-weight-bold">scm update options</p>
    </div>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" id="checkboxClean" value="option1">
    Clean
  </label>

<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" id="checkboxDeleteOnUpdate" value="option1">
    Delete on Update
  </label>

<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" id="checkboxUpdateOnLaunch" value="option1">
    Update on Launch
  </label>
</div>