<div class="col">
    <div class="row">
        <div class="col mb-2">
            <job-templates-add *ngIf="isAdd"></job-templates-add>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-block">
                <div class="row">
                    <div class="col-11 text-left">
                        <p class="text-uppercase">Users <span class="ag tag-pill tag-default"> 14</span></p>
                    </div>
                    <div class="col-1 text-right">
                        <button type="button" class="btn btn-success text-uppercase font-weight-bold pull-md-right" 
                        routerLink="/job_templates/add" routerLinkActive="active" aria-pressed="true">
                        <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
                <br>
            <projects-table></projects-table>
            </div>
        </div>
    </div>
</div>