<div class="col-12">
    <div class="row mb-2">
      <div class="col-2">
        <div class="card card-block">
          <h1 class="text-color-blue">26</h1>
          <p>Hosts</p>
        </div>
      </div>
      <div class="col-2">
        <div class="card card-block">
          <h1 class="text-color-red">14</h1>
          <p>Failed Hosts</p>
        </div>
      </div>
      <div class="col-2">
        <div class="card card-block">
          <h1 class="text-color-blue">26</h1>
          <p>Inventories</p>
        </div>
      </div>
      <div class="col-2">
        <div class="card card-block">
          <h1 class="text-color-blue">0</h1>
          <p>Inventory Sync Failures</p>
        </div>
      </div>
      <div class="col-2">
        <div class="card card-block">
          <h1 class="text-color-red">1</h1>
          <p>Project Sync Failures</p>
        </div>
      </div>
      <div class="col-2">
        <div class="card card-block">
          <h1 class="text-color-red">1</h1>
          <p>Add-Hoc tasks executed</p>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-header text-uppercase">
            Job Status
          </div>
          <div class="card-body">
            <h4>Chart Goes Here</h4>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-8 -->

    </div>
    <div class="row">
      <div class="col-4">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-bell fa-fw"></i> Recently Used Job Templates
          </div>
          <!-- /.card-header -->
          <notification-cmp></notification-cmp>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-4 -->

      <div class="col-4">
        <div class="card card-default">
          <div class="card-header">
            <i class="fa fa-bell fa-fw"></i> Recent Job Runs
          </div>
          <!-- /.card-header -->
          <notification-cmp></notification-cmp>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
</div>
