<div class="col">
    <div class="row">
        <div class="col mb-2">
            <user-add *ngIf="isAdd"></user-add>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-block">
                <div class="row">
                    <div class="col-11 text-left">
                        <p class="text-uppercase">Users <span class="badge badge-pill badge-default"> 14</span></p>
                    </div>
                    <div class="col-1 text-right">
                        <a class="btn btn-success text-uppercase font-weight-bold pull-md-right" routerLink="/settings/users/add" routerLinkActive="active" aria-pressed="true">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>
                </div>
                <br>
                <users-table></users-table>
            </div>
        </div>
    </div>
</div>