<div class="card card-block">
  <div class="row">
    <div class="col-11 text-left">
      <p class="text-uppercase font-weight-bold">New Credentials</p>
    </div>
    <div class="col-1 text-right">
      <a type="btn" class="close" routerLink="/settings/credentials" aria-label="Close">
        <i class="fa fa-times-circle"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-tabset type="pills">
        <ngb-tab title="Details">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col">
                <br>
                <form [formGroup]="credentialForm" (ngSubmit)="onSubmit()" novalidate>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group" [class.has-danger]="formErrors.name">
                        <label for="name" class="u-label"><span class="text-danger">*</span> Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name"
                               aria-describedby="Name">
                        <div *ngIf="formErrors.name" class="form-control-feedback">{{ formErrors.name }}</div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="descriptions" class="u-label">Description</label>
                        <input type="text" class="form-control" id="descriptions"
                               aria-describedby="description" formControlName="description">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group" [class.has-danger]="formErrors.organization">
                        <label for="organization" class="u-label">Organization</label>
                        <div class="input-group">
                          <span class="input-group-btn">
                            <a class="btn btn-secondary" (click)="organizationOpen()"><i class="fa fa-search"></i></a>
                          </span>
                          <input type="text" class="form-control" [ngbTypeahead]="search" id="organization"
                                 formControlName="organization"
                                 [inputFormatter]="formatter" [resultFormatter]="formatter">
                        </div>
                        <div *ngIf="formErrors.organization" class="form-control-feedback">{{ formErrors.organization
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group" [class.has-danger]="formErrors.kind">
                        <label for="kind" class="u-label"><span class="text-danger">*</span> Type</label>
                        <div class="input-group">
                          <select class="form-control" id="kind" formControlName="kind">
                            <option value="">Choose a type</option>
                            <option value="windows">Windows</option>
                            <option value="ssh">Linux</option>
                            <option value="net">Network</option>
                            <option value="scm">Source Control</option>
                            <option value="aws">Amazon Web Service</option>
                            <option value="gce">Google Compute Engine</option>
                          </select>
                        </div>
                        <div *ngIf="formErrors.kind" class="form-control-feedback">{{ formErrors.kind }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="row" *ngIf="getValue('kind') != ''">
                    <div class="col-11 text-left">
                      <p class="text-uppercase font-weight-bold">Type Details</p>
                    </div>
                  </div>

                  <div *ngIf="getValue('kind') == 'windows' || getValue('kind') == 'ssh'">
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" formControlName="username" class="form-control"
                                 id="username" aria-describedby="Name">
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input-password id="password" formControlName="password"></input-password>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="ask_password_on_launch">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Ask at runtime?</span>
                          </label>
                        </div>
                      </div>
                      <div class="col-4"
                           *ngIf="getValue('kind') == 'ssh' || getValue('kind') == 'windows'">
                        <div class="form-group">
                          <label for="vault_password">Vault Password</label>
                          <input-password id="vault_password" formControlName="vault_password"></input-password>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="ask_vault_password_on_launch">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Ask at runtime?</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="getValue('kind') == 'ssh'">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="become_method">Privilege Escalation</label>
                          <div class="input-group">
                            <select class="form-control" id="become_method" formControlName="become_method">
                              <option value="">Choose a privilege escalation</option>
                              <option value="none">None</option>
                              <option value="sudo">Sudo</option>
                              <option value="su">su</option>
                              <option value="pbrun">PbRun</option>
                              <option value="pfexec">Pfexec</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-4"
                           *ngIf="credentialForm.get('become_method').value != 'none' && credentialForm.get('become_method').value != ''">
                        <div class="form-group">
                          <label for="become_username">Privilege Escalation Username</label>
                          <input type="text" class="form-control" id="become_username" aria-describedby="Privilege Escalation Username"
                                 placeholder="Privilege Escalation Username" formControlName="become_username">
                        </div>
                      </div>
                      <div class="col-4"
                           *ngIf="credentialForm.get('become_method').value != 'none' && credentialForm.get('become_method').value != ''">
                        <div class="form-group">
                          <label for="become_password">Privilege Escalation Password</label>
                          <input-password id="become_password" formControlname="become_password"></input-password>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="ask_become_password_on_launch">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Ask at runtime?</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="credentialForm.get('kind').value != 'windows'">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="extra_variables">Private Key</label>
                          <textarea type="textarea" rows="10" class="form-control" id="extra_variables"
                                    aria-describedby="Extra Variables" formControlName="ssh_key_data"></textarea>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="ssh_key_unlock">Private Key Passphrase</label>
                          <input-password id="ssh_key_unlock"
                                          formControlName="ssh_key_unlock"></input-password>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="ask_ssh_key_unlock_on_launch">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Ask at runtime?</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="getValue('kind') === 'net'">
                    <div class="row">
                      <div class="col-4" [class.has-danger]="formErrors.username">
                        <div class="form-group">
                          <label for="username"><span class="text-danger">*</span> Username</label>
                          <input type="text" formControlName="username" class="form-control"
                                 id="username" aria-describedby="username">
                          <div *ngIf="formErrors.username" class="form-control-feedback">{{ formErrors.username }}</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input-password id="password" formControlName="password"></input-password>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="ssh_key_unlock">Private Key Passphrase</label>
                          <input-password id="ssh_key_unlock" formControlName="ssh_key_unlock"></input-password>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="authorize">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Authorize</span>
                          </label>
                      </div>
                      <div class="col-4" *ngIf="getValue('authorize')">
                        <div class="form-group">
                          <label for="authorize_password">Authorize Password</label>
                          <input-password id="authorize_password" formControlName="authorize_password"></input-password>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="ssh_key_data">Private Key</label>
                          <textarea type="textarea" rows="10" class="form-control" id="ssh_key_data"
                                    aria-describedby="Private Key" formControlName="ssh_key_data"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div *ngIf="getValue('kind') === 'scm'">
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" formControlName="username" class="form-control"
                                 id="username" aria-describedby="username">
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input-password id="password" formControlName="password"></input-password>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="ssh_key_unlock">Private Key Passphrase</label>
                          <input-password id="ssh_key_unlock" formControlName="ssh_key_unlock"></input-password>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="ssh_key_data">SCM Private Key</label>
                          <textarea type="textarea" rows="10" class="form-control" id="ssh_key_data"
                                    aria-describedby="Private Key" formControlName="ssh_key_data"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="getValue('kind') === 'gce'">
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group" [class.has-danger]="formErrors.email">
                          <label for="email"><span class="text-danger">*</span> Service Account Email Address</label>
                          <input type="text" formControlName="email" class="form-control"
                                 id="email" aria-describedby="Email">
                          <div *ngIf="formErrors.email" class="form-control-feedback">{{ formErrors.email }}</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="project">Project</label>
                          <input type="text" formControlName="project" class="form-control"
                                 id="project" aria-describedby="Project">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group" [class.has-danger]="formErrors.ssh_key_data">
                          <label for="ssh_key_data"><span class="text-danger">*</span> RSA Private Key</label>
                          <textarea type="textarea" rows="10" class="form-control" id="ssh_key_data"
                                    aria-describedby="Private Key" formControlName="ssh_key_data"></textarea>
                          <div *ngIf="formErrors.ssh_key_data" class="form-control-feedback">{{ formErrors.ssh_key_data
                            }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="getValue('kind') === 'aws'">
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group" [class.has-danger]="formErrors.client">
                          <label for="client"><span class="text-danger">*</span> Access Key</label>
                          <input type="text" formControlName="client" class="form-control"
                                 id="client" aria-describedby="Access Key">
                          <div *ngIf="formErrors.client" class="form-control-feedback">{{ formErrors.client }}</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group" [class.has-danger]="formErrors.secret">
                          <label for="project"><span class="text-danger">*</span> Secret Key</label>
                          <input-password id="secret" formControlName="secret"></input-password>
                          <div *ngIf="formErrors.secret" class="form-control-feedback">{{ formErrors.secret }}</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group" [class.has-danger]="formErrors.token">
                          <label for="token">STS Token</label>
                          <input-password id="token" formControlName="token"></input-password>
                          <div *ngIf="formErrors.token" class="form-control-feedback">{{ formErrors.token }}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-right">
                      <a class="btn btn-warning" routerLink="/settings/credentials" aria-label="Close">
                        Cancel
                      </a>
                      <button type="submit" class="btn btn-success" [disabled]="!credentialForm.valid">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Permissions" [disabled]="true">
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>
